#mapid {
    height: 90vh;
    width: 90vw;
    margin: 5vh 5vw 5vh 5vw;
}

.stylePopup .leaflet-popup-content-wrapper {
    z-index: 10;
    background: #3a5169;
    color: #fff;
    border-radius: 0px;
}

.cover-img {
    position: relative;
    z-index: 10000;
    transition: transform 0.5s;
}
.cover-img:hover {
    z-index: 10001;
    transform: scale(2);
}